<ul class="list-group">
    {% for notification in field.value %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
                {{ notification.createdAt|date('d.m.Y H:i') }} - 
                <span class="badge {{ notification.status == 'new' ? 'bg-danger' : 'bg-success' }}">
                    {{ notification.status == 'new' ? 'НОВОЕ' : 'ПРОСМОТРЕНО' }}
                </span>
            </span>
            <a href="{{ ea_url()
                .setController('App\\Controller\\Admin\\NotificationCrudController')
                .setAction('detail')
                .setEntityId(notification.id) }}">
                <i class="fa fa-eye"></i>
            </a>
        </li>
    {% else %}
        <li class="list-group-item">Нет уведомлений</li>
    {% endfor %}
</ul>