{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block table_body %}
    <tbody>
    {% for entity in paginator %}
        {% if entity.isExpired() %}
            <tr style="background-color: #ffdddd;" data-ea-content-link="true">
        {% else %}
            <tr data-ea-content-link="true">
        {% endif %}
            {% for field in entity.fields %}
                <td data-label="{{ field.label|trans }}">{{ field.formattedValue }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}