{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block table_body %}
    <tbody>
    {% for entity in paginator %}
        <tr {% if entity.instance and entity.instance.isExpired() %}style="background-color: #ffdddd;"{% endif %}>
            {% for field in entity.fields %}
                <td>{{ field.formattedValue }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}