{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block item_actions %}
    {{ parent() }}
    {% set now = date() %}
    {% if entity.instance.expiryDate is not null and entity.instance.expiryDate < now %}
        <span class="badge badge-danger">Expired</span>
    {% endif %}
{% endblock %}
